* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(media/bg.jpg);
    background-size: auto;
    background-position: center;
}

.navbar {
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card{
    position: absolute;
    background: #fff;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    margin-top: 25;
    margin-left: 500px;
    
}
.card .content{
    widows: 400px;
    padding: 50px;
    box-sizing: border-box;
    
}
.card .content h3{
    widows: 2;
    box-sizing: border-box;
    padding-top: 25;
}
.card .sliderImg{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.card .sliderImg img{
    width: 100%;
    height: 100%;
    margin-right: 0%;
    margin-left: 0px;
    position: absolute;
}
.logo {
    width: 250px;
    cursor: pointer;
}

.menu {
    width: 55px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: aqua;
    font-size: 30px;
}

nav ul li a:hover {
    color: aliceblue;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col {
    margin-left: 6%;

}

.left-col h1 {
    font-size: 50px;
    color: aliceblue;
    line-height: 110px;
    float: left;
}

.album {
    float: right;
    margin-right: 10%;
    margin-top: -70;
    margin-left: 5;
    display: flex;
    align-items: center;
    width: 50%;
}

.album img {
    width: 50%;
    height: auto;
    margin-right: 10%;
    margin-left: 300px;
    position: static;
}

.ricol {
    float: right;
    margin-right: 16%;
    margin-top: -0;
    margin-left: 190;
    display: flex;
    align-items: center;
}

.ricol p {
    font-size: 24px;
    color: beige;
    font-weight: 400;
    margin-right: -590px;
    padding-left: 80px;
    margin-top: 75px;

}

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: -100px;
    box-sizing: border-box;
    background-color: black;
}

#icon {
    width: 80px;
    cursor: pointer;
    margin-top: 75;
    margin-left: 600px;
}


@media only screen and (max-width:768px) {
    nav ul {
        width: 100%;
        background: linear-gradient(red, yellow);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: aqua;
    }

    .menu {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 1.0s;
    }

    .album {
        display: none;
    }

    .container {
        display: block;
    }

    .ricol p {
        font-size: 24px;
        color: beige;
        font-weight: 400;
        margin-right: -590px;
        padding-left: 80px;
        margin-top: -10px;
    }

    #icon {
        width: 80px;
        cursor: pointer;
        margin-top: -1;
        margin-left: 600px;
    }

    @media only screen and (max-width:800px) {

        /* For tablets: */
        .container {
            width: 80%;
            padding: 0;
        }

        .container {
            width: 100%;
        }

        .album {
            display: none;
        }
    }

    @media only screen and (max-width:500px) {

        /* For mobile phones: */
        .container,
        .menu,
            {
            width: 100%;
        }

        .album {
            display: none;
        }
    }